/** Basic reset **/

/* Resetting margins, paddings, and borders */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
figure,
fieldset, legend {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Global box-sizing rule */
*, *::before, *::after {
  box-sizing: border-box;
}

.button-con{
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(red,yellow, yellow,red);
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.button{
  background-color: white;
  border: none;
  height: 10vh;
  width: 70vw;
  font-size: 1.2em;
}

a{
  text-decoration: none;
}