/** Basic reset **/

/* Resetting margins, paddings, and borders */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
figure,
fieldset, legend {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Global box-sizing rule */
*, *::before, *::after {
  box-sizing: border-box;
}

/** Homepage styles **/
body{
  height: 100vh;
  background-image: linear-gradient(red,yellow, yellow,red);
}

.button-con{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 95%;
}

.button{
  background-color: white;
  border: none;
  height: 10vh;
  width: 70vw;
  font-size: 1.2em;
}

.modal-con{
  height: 5%;
}

#modal{
  position: fixed;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.5);
  z-index: 2;
  cursor: pointer;  
}

.hidden{
  display: none;
}

a{
  text-decoration: none;
}