/** Basic reset **/

/* Resetting margins, paddings, and borders */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
figure,
fieldset, legend {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Global box-sizing rule */
*, *::before, *::after {
  box-sizing: border-box;
}

body{
  background: linear-gradient(30deg, #1e3c72, #2a5298, #f3a921, #8fba54, #1f8748);
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

img{
  width: 10vw;
  height: auto;
}